/* 
  * "Eliminar" los estilos predeterminados del navegador
  *  
  Tamaño intuitivo de contenedores
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Restaurar margenes
*/
* {
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

/*
  Accesibilidad de saltos de linea y legibilidad de textos
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  Restaurar posicionamiento de medios digitales
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  Remover fuentes del sistema para elementos de formulario
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  Obligar al texto a mantenerse dentro de su contenedor
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Titulos */
h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1rem;
}

/* Listas sin estilos */
li {
  list-style: none;
}

/* Restaurar links y colores de links y botones */
a,
a:focus,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #00deff;
}

button,
a.boton,
button.boton {
  background-color: #10abf5;
  padding: 1rem 1.5rem;
  color: #fff;
  display: inline-block;
  margin-top: 0.5rem;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
}

button:hover,
a.boton:hover,
button.boton:hover {
  background-color: #117ac4;
}

/*
  Tipografía general del sitio
*/
body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: #000;
}

/*
  Tipografía titulos del sitio
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Variables genericas para ordenamiento */
.contenedor-central {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.contenedor-central.texto-centro {
  text-align: center;
}

.contenedor-flex {
  display: flex;
}

.centrar-vertical {
  align-items: center;
}

.flex-espaciado {
  justify-content: space-between;
}

.seccion-pagina.seccion-grande {
  min-height: 65vh;
}

.seccion-pagina.color-principal {
  background-color: #590e83;
}

.seccion-pagina.padding-seccion {
  padding: 3%;
}

/* Encabezado (identidad, navegacion y acciones) */
.encabezado {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 1rem;
  background: linear-gradient(
    180deg,
    rgba(47, 5, 69, 1) 0%,
    rgba(122, 22, 143, 0) 99%
  );
}

.logo {
  width: 120px;
  height: fit-content;
}

.navegacion-principal li,
.navegacion-pie li {
  display: inline;
}

.navegacion-principal li {
  font-family: "Jersey 15", sans-serif;
  font-size: 1.3rem;
  position: relative;
  padding: 0 1.5rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.centrar-vertical li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: #8a8a8a;
  right: 0;
  top: 0;
}

.centrar-vertical li:last-child::before {
  background-color: transparent;
}

.cambio-idioma {
  display: grid;
}

.cambio-idioma label {
  margin-bottom: 0.3rem;
}

#idioma {
  padding: 5px;
  background: transparent;
  border: 3px solid #8a8a8a;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
}

/* Carrusel */
#carrusel {
  position: relative;
  padding: 8% 10% 3%;
}

#carrusel img {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
}

/* CONTACTO */
form {
  margin: 2rem 0;
}

.contacto-info {
  padding-top: 1.5rem;
  justify-content: center;
}

.caja-icono {
  width: 33.33%;
  min-height: 250px;
  background-color: #590e83;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

svg {
  display: inline-block;
  margin-top: 50px;
}

.contenedor-central.texto-centro {
  text-align: center;
  border: #fff;
}

.columna {
  width: 45%;
  margin: 2.5%;
}

.caja-campo {
  width: 100%;
}

.columna,
.caja-campo {
  flex-flow: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.caja-campo {
  display: flex;
  margin-bottom: 1rem;
}

.caja-campo input:not(input[type="submit"]),
.caja-campo textarea {
  width: 100%;
  text-align: left;
  padding: 5.5px 7px;
}

.enviar_formulario {
  background-color: #10abf5;
  padding: 1rem 1.5rem;
  color: #fff;
  margin-top: 0.5rem;
  border-radius: 5px;
  font-weight: 800;
  text-transform: uppercase;
}

.maps {
  width: 100%;
  padding: 0 1rem;
  border: none;
}

/* Pié de página */
.pie-pagina {
  padding: 2rem 0;
  border-top: 1px solid #353535;
  text-align: center;
}

.pie-pagina a {
  margin: 0 1rem;
  display: inline-block;
}

.pie-pagina p {
  margin-top: 1.5rem;
}

.pie-pagina .copyright {
  font-size: 0.9rem;
  color: #6d1c93;
}

/* Responsive design */

@media (max-width: 450px) {
  ul {
    padding: 0;
  }

  .encabezado {
    position: relative;
    margin-bottom: 1rem;
  }

  .navegacion-principal {
    text-align: center;
  }

  .contenedor-flex {
    flex-flow: column;
  }

  .contenedor-central {
    padding: 1rem;
  }

  .columna {
    width: 95%;
  }

  .caja-campo,
  .caja-icono {
    width: 100%;
  }
}
